body {
    margin: 0;

    height: 100%;
    max-height: 100%;
}


h1 {
    animation: quickFade 5s;
    font-family: 'Lato';
    font-weight: 100;
    font-size: 6em;
    color: white;
    position: absolute;
    left: 0.7em;
    bottom: 5em;
    //top: -3em;
}

h3 {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 3em;
    margin: 0;
    left: 50%;
    right: 50%;
    position: relative;
    text-align: center;
}

h3.logo-header {
    top: 9em;
}

img {
    position: relative;
    max-width: 100%;
    max-height: 100%;

}

#angle-down {
    position: absolute;
    display: inline-block;
    top: 12.25em;
    align-items: center;
    left: 50%;
    right: 50%;
    transition: background-color 0.5s;
    transition: transform 1s;
}

#angle-down:hover {
    color: #222222;
    transform: scale(1.3);
}

.title {
    top: 5em;
}


.logos #exo {
    transform: scale(0.5,0.5);

}

.logos {
    width: 70em;
    height: 10em;
    margin: 0 auto;
    left: 50%;
    position: relative;
    top: 12.5em;
    transform: scale(0.75,0.75);

}

.logos #java {
    position: relative;
    float: right;
}

p {
    font-family: 'Lato';
    font-weight: 400;
}

.nav {
    background-color: white;
    width: 100%;
    height: 5em;
    max-width: 100%;
    display: flex;
    padding: 0.25em;
    align-items: center;
    top: -27em;

    position: absolute;
}

.nav-items {
    //width: auto;
    padding: 1.5em;
    //padding-left: 4em;
    //padding: 500px;
}

.navbutton {
    border: 5px solid transparent;
    background: #dddddd;
    padding: 2px;
    width: 30px;
    height: 30px;
}

#twitter {
    padding-left: 5px;
    padding-right: 5px;
    order: 2;
}

#facebook {
    order: 1;
}

button {
    border: 2px solid transparent;
    background: #5AA692;
    margin: 0;
    padding: 0;
    left: 2em;
    width: 4em;
    top: 7em;
    border-radius: 25px;
    position: absolute;

}

.begin {
    padding: px;
    font-family: Lato;
    font-size: 2.5em;
    font-weight: 100;
    z-index: 2;
    top: 0em;
}

.container {
    width: 100%;
    max-width: 100%;
    position: absolute;
}

.content {
    background-color: white;
    position: absolute;
    margin: 0;
    z-index: 1;
    width: 100%;
    top: 27.5em;
    height: auto;
    
    
}

@keyframes slowFade {
    0% {
	opacity: 0;
    }

    100% {
	opacity: 1;
    }
    
}

@keyframes quickFade {
    0% {
	opacity: 0;
    }

    100% {
	opacity: 1;
    }
    
}

$mountain-light: #C1B8B8;
$mountain-shadow: #DDDDDD;

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


#callbacks-placeholder{
  position:fixed;top:50px;left:50px;color:black;z-index:999;
}


canvas {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 32em;
    margin: 0;
    z-index: -10;
    background: linear-gradient(0deg, #5B679B, #070A13);
    box-shadow-top: inset 10px;
    box-shadow-bottom: inset 10px;
    bottom: 21em;
}

@media (max-width: 320px) {
    h1 {
	font-size: 3em;
    }

    .mountain {
	transform: scale(0.25,0.5);
	left: -900px;
    }

    .ground {
	bottom: 80px;
    }
       
    .ground, .container, .body, .mountain, .mountain #fg-mountain-left, #bg-mountain-left,  .mountain #bg-mountain-left {
	max-width: 100%;
    }
    .mountain #fg-mountain-left {
	left: -900px;
    }
}

@media (max-width: 414px) {
    h1 {
	font-size: 4em;
    }
}

@media (max-width: 960px) {

    h1 {
	font-size: 4em;
    }

    .logos {
	left: 0%;
    }
    
    img {
	left: 0%;
	transform: scale(0.5,0.5);
    }
}
