body {
  background: #4b7198;
  margin: 0; }

h1 {
  animation: quickFade 5s;
  font-family: 'Lato';
  font-weight: 100;
  font-size: 6em;
  color: white;
  position: absolute; }

h3 {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 5em;
  margin: 0;
  padding: 0; }

p {
  font-family: 'Lato';
  font-weight: 400; }

.nav {
  background-color: white;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex; }

.nav items {
  width: auto;
  padding: 500px; }

#github {
  order: 2; }

#github2 {
  order: 1; }

button {
  border: 2px solid transparent;
  background: #dddddd;
  margin: 0;
  padding: 0;
  left: 2em;
  width: 4em;
  top: 7em;
  border-radius: 25px;
  position: absolute; }

.begin {
  padding: px;
  font-family: Lato;
  font-size: 2.5em;
  font-weight: 100;
  z-index: 2; }

.mountain {
  animation-delay: 5s;
  animation: slowFade 10s; }

.ground {
  position: relative;
  background: linear-gradient(180deg, grey, #333333);
  height: 100%;
  max-width: 100%;
  top: 30em; }

.moon {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  left: 65em;
  top: 8em;
  background-color: white;
  position: absolute; }

.crater {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  left: 67em;
  top: 11em;
  background-color: #C1B8B8;
  position: absolute; }

.crater2 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: 74em;
  top: 14em;
  background-color: #C1B8B8;
  position: absolute; }

.crater3 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  left: 67em;
  top: 12em;
  background-color: #C1B8B8;
  position: absolute; }

@keyframes slowFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes quickFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.mountain #bg-mountain-left {
  width: 0;
  height: 0;
  position: relative;
  left: 27em;
  border-left: 10em solid transparent;
  border-bottom: solid 10em #C1B8B8;
  z-index: 1;
  border-radius: 0 90px 0 0; }

#bg-mountain-left-shadow {
  transform: rotate(45deg);
  background-color: #C1B8B8;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 25em;
  left: 500px;
  border-radius: 40px 0 0 0;
  z-index: 0; }

.mountain #fg-mountain-left {
  width: 0;
  height: 0;
  position: relative;
  left: -400px;
  border-left: 300px solid transparent;
  border-right: 540px solid transparent;
  border-bottom: 10em solid #dddddd;
  z-index: 1; }

canvas {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  z-index: -3; }

@media (max-width: 320px) {
  h1 {
    font-size: 3em; }
  .mountain {
    transform: scale(0.25, 0.5);
    left: -900px; }
  .ground {
    bottom: 80px; }
  .ground, .container, .body, .mountain, .mountain #fg-mountain-left, #bg-mountain-left, .mountain #bg-mountain-left {
    max-width: 100%; }
  .mountain #fg-mountain-left {
    left: -900px; } }

@media (max-width: 414px) {
  h1 {
    font-size: 4em; } }
